// Notepad++ Obsidian-inspired dark color scheme for Just the Docs

$body-background-color: #293134;
$sidebar-color: #1E2529;
$body-text-color: #E0E2E4;
$body-heading-color: #FFCD22;
$link-color: #93C763;
$nav-child-link-color: #93C763;
$search-result-preview-color: #B0B2B4;
$border-color: #3B4245;

$btn-primary-color: #93C763;
$base-button-color: #3B4245;

$code-background-color: #1E2226;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: #232829;

$search-background-color: #1E2226;
$search-result-color: #E0E2E4;
$search-result-highlight-color: #FFCD22;
